* text=auto
*.json text eol=lf
*.yml text eol=lf
*.md text eol=lf
public/content-library/packages/*.json filter=lfs diff=lfs merge=lfs -text
public/content-library/packages/*.sagasmith-module filter=lfs diff=lfs merge=lfs -text
